
/* ORIGINAL PARTS */
body {background-color: #C7E6D2;
	font-family: sans-serif;
	margin: 0;
    padding: 0;
	}
h1 {color: #33704A;}
button {
  background-color: #20462D; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* HEADER WITH ERYK'S HARDWARE */
#header { width: 85%;
	padding-top: 15px;
	float: left;
	background-color: #8ECCA3;
	min-height: 150px;
	text-align: center;
	}
#header h2 { color: #20462D;
	font-family: Arial, sans-serif;
	}

/* MESSAGE OF THE DAY */
#motd { text-align: center;
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 85%;
	}
#motd h2 { color: #20462D;
	}

/* SIDE NAVIGATION BAR */
#sidenav { float: left;
	width: 15%;
	font-weight: bold;
	letter-spacing: 0.1em;
	background-color: #469B63;
	min-height: 1000px;
	}
#sidenav ul { list-style-type: none;
	margin: 0;
	padding: 0;
	}
#sidenav a { text-decoration: none;
	padding: 20px;
	display: block;
	background-color: #469B63;
	border-bottom: 1px solid #C7E6D2;
	color: white;
	}
#sidenav a:hover { background-color: #ffffff; 
	opacity: 0.7;
	color: black;
	}

/* CONTAINER FOR BOTH CONTENT COLUMNS */
#container { margin: 0 auto;
	}

/* SECOND COLUMN FOR FIRST CONTENT COLUMN */
.contentcol1 { background-color: #ffffff;
	float: left;
	text-align: center;
	color: #000000;
	background-color: #469B63;
	padding: 15px;
	overflow: auto;
	margin-left: 15%;
	border: 5px solid #C7E6D2;
	min-width: 350px;
	}
.contentcol1 p { text-align: left;
	line-height: 5px;
	}
.contentcol1 a { text-decoration: none;
	color: white;
	}

/* THIRD COLUMN FOR SECOND CONTENT COLUMN */
.contentcol2 { background-color: #ffffff;
	float: right;
	text-align: center;
	color: #000000;
	background-color: #469B63;
	padding: 15px;
	overflow: auto;
	margin-right: 15%;
	border: 5px solid #C7E6D2;
	min-width: 350px;
	}
.contentcol2 p { text-align: left;
	line-height: 5px;
	}
.contentcol2 a { text-decoration: none;
	color: white;
	}
	
/* FOOTER RELATED */
#footer { font-size: 70%;
	text-align: center;
	padding: 10px;
	letter-spacing: 10px;
	background-color: #33704A;
	clear: left;
	position: relative;
	text-align: center;
	}
	
#footer li { list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
	}
#footer a { text-decoration: none;
	letter-spacing: 10px;
}